In [1]:
import numpy as np

# Membuat dua array NumPy
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])

# Melakukan penjumlahan
hasil = array1 + array2

# Menampilkan hasil
print("Hasil penjumlahan:", hasil)

Hasil penjumlahan: [5 7 9]

In [3]:
import pandas as pd

# Membuat DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
df = pd.DataFrame(data)

# Menampilkan DataFrame
print("DataFrame awal:")
print(df)

# Melakukan operasi aritmatika
# Penjumlahan
df['C'] = df['A'] + df['B']

# Pengurangan
df['D'] = df['B'] - df['A']

# Perkalian
df['E'] = df['A'] * df['B']

# Pembagian
df['F'] = df['B'] / df['A']

# Menampilkan hasil
print("\nDataFrame setelah operasi aritmatika:")
print(df)

DataFrame awal:
   A  B
0  1  4
1  2  5
2  3  6

DataFrame setelah operasi aritmatika:
   A  B  C  D   E    F
0  1  4  5  3   4  4.0
1  2  5  7  3  10  2.5
2  3  6  9  3  18  2.0

In [2]:
import pandas as pd

# Membuat DataFrame dengan 10 nama
data = {
    'Nama': [
        'Aliyapi',
        'Bobi',
        'angga',
        'David',
        'Eva',
        'raul',
        'Grace',
        'asnawi',
        'zilong',
        'Jajang'
    ]
}

df = pd.DataFrame(data)

# Menampilkan DataFrame
print("DataFrame:")
print(df)

# Menampilkan 5 data teratas
print("\n5 Data Teratas:")
print(df.head())

# Menampilkan 5 data terbawah
print("\n5 Data Terbawah:")
print(df.tail())

DataFrame:
      Nama
0  Aliyapi
1     Bobi
2    angga
3    David
4      Eva
5     raul
6    Grace
7   asnawi
8   zilong
9   Jajang

5 Data Teratas:
      Nama
0  Aliyapi
1     Bobi
2    angga
3    David
4      Eva

5 Data Terbawah:
     Nama
5    raul
6   Grace
7  asnawi
8  zilong
9  Jajang